
    <body>
      <form action="/admin" >
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <div class="admin-section1">
                  <a href="/signup"><img class="addstu" src="adduser.png"></a>
                </div>
                <!--<button type="button" class="btn btn-primary">Add Student</button>-->
              </div>
              <div class="col-sm">
                <div class="admin-section2">
                  <a href="/display"><img class="addstu" src="photo.png"></a>
                </div>
                <!--<button type="button" class="btn btn-primary">Edit Student</button>-->
              </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <p class="admin-section3">Add Student</p>
                </div>
                <div class="col-sm">
                  <p class="admin-section3" id="ms">View Ticket Status</p>
                </div>
              </div>
            <!--<div class="row" >
              <div class="col-sm">
                <button type="button" class="btn btn-primary">Appointment Status</button>
              </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary">View Ticket</button>
              </div>
            </div>-->
          </div>
        </form>
      </body> 