<!DOCTYPE html>
<html lang="en">
<head>
    <title>TrouFree</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
<body>
        {{!-- <nav class="navbar navbar-light navbar-fixed-top bg-light">
            <div class="container-fluid">
                
                <a> {{#if users}}{{users.first_name}}{{else}}Account{{/if}}</a>
                  <a class="navbar-brand" href="/logout" >LOGOUT

                  </a>          
             
            </div>
        </nav> --}}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="faculty">
                    <a href="/phase1"><img class="img-responsive image-resize"src="part-time .png"></a>
                </div>
            </div>
        
        <div class="col-sm">
            <div class="faculty">
                <a  href="/bus"> <img src="bus.png"/> </a>
            </div>
        </div>
        
        </div>
    </div>
    
    
</body>
</html>